[submodule "deps/servant-snap"]
	path = deps/servant-snap
	url = http://github.com/haskell-servant/servant-snap
[submodule "deps/snaplet-postgresql-simple"]
	path = deps/snaplet-postgresql-simple
	url = http://github.com/mightybyte/snaplet-postgresql-simple
[submodule "deps/servant-matlab"]
	path = deps/servant-matlab
	url = http://github.com/imalsogreg/servant-matlab
[submodule "deps/websockets-snap"]
	path = deps/websockets-snap
	url = https://github.com/jaspervdj/websockets-snap
[submodule "deps/groundhog"]
	path = deps/groundhog
	url = http://github.com/imalsogreg/groundhog
[submodule "deps/snap"]
	path = deps/snap
	url = http://github.com/snapframework/snap
