.non-menu-content {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

.expression {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.expression input {
  width: 75%;
}

.inputs-outputs {
  display: flex;
  justify-content: space-around;
  flex-dirction: row;
}

.inputs {
  max-width: 49%;
}

.results {
  max-width: 49%;
}

.image-input {
  position: relative;
}

.canvas-container  {
  position: absolute;
  top: 0px;
  left: 0px;
}

.input-bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width:100%;
  background-color: hsla(0,0%,100%, 0.5);
}

.input-bar {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.input-bar-hideaway {
  font-size: 8pt;
  width: 20px;
}
